In [1]:
# Import modules
import pandas as pd

In [2]:
# Import data
raw = pd.read_csv("Data_EUR_USD.csv")

In [3]:
# create new columns... open_to_high, open_to_low, open_to_close, high_to_low
raw["open_to_high"] = raw["High"] - raw["Open"]
raw["open_to_low"] = raw["Open"] - raw["Low"]
raw["open_to_close"] = raw["Close"] - raw["Open"]
raw["high_to_low"] = raw["High"] - raw["Open"]

print(raw)

                           Time     Open     High      Low    Close  Volume  \
0     2018-06-03 21:00:00+00:00  1.16591  1.17446  1.16591  1.16986   54201
1     2018-06-04 21:00:00+00:00  1.16969  1.17324  1.16525  1.17184   60668
2     2018-06-05 21:00:00+00:00  1.17129  1.17959  1.17124  1.17744   57923
3     2018-06-06 21:00:00+00:00  1.17752  1.18399  1.17727  1.17990   62212
4     2018-06-07 21:00:00+00:00  1.18014  1.18104  1.17270  1.17690   57780
...                         ...      ...      ...      ...      ...     ...
1537  2024-05-05 21:00:00+00:00  1.07642  1.07909  1.07552  1.07702   43391
1538  2024-05-06 21:00:00+00:00  1.07692  1.07874  1.07480  1.07548   48540
1539  2024-05-07 21:00:00+00:00  1.07543  1.07576  1.07350  1.07485   41408
1540  2024-05-08 21:00:00+00:00  1.07500  1.07847  1.07240  1.07817   46525
1541  2024-05-09 21:00:00+00:00  1.07824  1.07902  1.07604  1.07692   38828

      Complete  open_to_high  open_to_low  open_to_close  high_to_low
0         True       0.00855      0.00000        0.00395      0.00855
1         True       0.00355      0.00444        0.00215      0.00355
2         True       0.00830      0.00005        0.00615      0.00830
3         True       0.00647      0.00025        0.00238      0.00647
4         True       0.00090      0.00744       -0.00324      0.00090
...        ...           ...          ...            ...          ...
1537      True       0.00267      0.00090        0.00060      0.00267
1538      True       0.00182      0.00212       -0.00144      0.00182
1539      True       0.00033      0.00193       -0.00058      0.00033
1540      True       0.00347      0.00260        0.00317      0.00347
1541     False       0.00078      0.00220       -0.00132      0.00078

[1542 rows x 11 columns]

In [4]:
# split the open_to_close negative and positive values

o_c_pos = raw[raw["open_to_close"] >= 0]
o_c_neg = raw[raw["open_to_close"] <= 0]


print(len(o_c_neg))
print(len(o_c_pos))

print(o_c_pos)

767
778
                           Time     Open     High      Low    Close  Volume  \
0     2018-06-03 21:00:00+00:00  1.16591  1.17446  1.16591  1.16986   54201
1     2018-06-04 21:00:00+00:00  1.16969  1.17324  1.16525  1.17184   60668
2     2018-06-05 21:00:00+00:00  1.17129  1.17959  1.17124  1.17744   57923
3     2018-06-06 21:00:00+00:00  1.17752  1.18399  1.17727  1.17990   62212
5     2018-06-10 21:00:00+00:00  1.17752  1.18204  1.17710  1.17845   43072
...                         ...      ...      ...      ...      ...     ...
1534  2024-04-30 21:00:00+00:00  1.06662  1.07328  1.06494  1.07132   75799
1535  2024-05-01 21:00:00+00:00  1.07130  1.07302  1.06742  1.07252   73145
1536  2024-05-02 21:00:00+00:00  1.07256  1.08126  1.07244  1.07630   79339
1537  2024-05-05 21:00:00+00:00  1.07642  1.07909  1.07552  1.07702   43391
1540  2024-05-08 21:00:00+00:00  1.07500  1.07847  1.07240  1.07817   46525

      Complete  open_to_high  open_to_low  open_to_close  high_to_low
0         True       0.00855      0.00000        0.00395      0.00855
1         True       0.00355      0.00444        0.00215      0.00355
2         True       0.00830      0.00005        0.00615      0.00830
3         True       0.00647      0.00025        0.00238      0.00647
5         True       0.00452      0.00042        0.00093      0.00452
...        ...           ...          ...            ...          ...
1534      True       0.00666      0.00168        0.00470      0.00666
1535      True       0.00172      0.00388        0.00122      0.00172
1536      True       0.00870      0.00012        0.00374      0.00870
1537      True       0.00267      0.00090        0.00060      0.00267
1540      True       0.00347      0.00260        0.00317      0.00347

[778 rows x 11 columns]

In [5]:
# create a new column with the number representation of the day of the week

from datetime import datetime
# YYYY-MM-DD HH:mm:ss+ms:ms

my_days = []

# strip all data from the time column on the right side of the +


for i in raw["Time"]:
    i, j = i.split("+")
    i = datetime.strptime(i, "%Y-%m-%d %H:%M:%S")
    
    #i = i.strftime("YYYYMMDD HH:mm:ss (%Y%m%d %H:%M:%S)")
    i = i.strftime("%A")
    my_days.append(i)
    
raw["Days"] = my_days

print(raw)

                           Time     Open     High      Low    Close  Volume  \
0     2018-06-03 21:00:00+00:00  1.16591  1.17446  1.16591  1.16986   54201
1     2018-06-04 21:00:00+00:00  1.16969  1.17324  1.16525  1.17184   60668
2     2018-06-05 21:00:00+00:00  1.17129  1.17959  1.17124  1.17744   57923
3     2018-06-06 21:00:00+00:00  1.17752  1.18399  1.17727  1.17990   62212
4     2018-06-07 21:00:00+00:00  1.18014  1.18104  1.17270  1.17690   57780
...                         ...      ...      ...      ...      ...     ...
1537  2024-05-05 21:00:00+00:00  1.07642  1.07909  1.07552  1.07702   43391
1538  2024-05-06 21:00:00+00:00  1.07692  1.07874  1.07480  1.07548   48540
1539  2024-05-07 21:00:00+00:00  1.07543  1.07576  1.07350  1.07485   41408
1540  2024-05-08 21:00:00+00:00  1.07500  1.07847  1.07240  1.07817   46525
1541  2024-05-09 21:00:00+00:00  1.07824  1.07902  1.07604  1.07692   38828

      Complete  open_to_high  open_to_low  open_to_close  high_to_low  \
0         True       0.00855      0.00000        0.00395      0.00855
1         True       0.00355      0.00444        0.00215      0.00355
2         True       0.00830      0.00005        0.00615      0.00830
3         True       0.00647      0.00025        0.00238      0.00647
4         True       0.00090      0.00744       -0.00324      0.00090
...        ...           ...          ...            ...          ...
1537      True       0.00267      0.00090        0.00060      0.00267
1538      True       0.00182      0.00212       -0.00144      0.00182
1539      True       0.00033      0.00193       -0.00058      0.00033
1540      True       0.00347      0.00260        0.00317      0.00347
1541     False       0.00078      0.00220       -0.00132      0.00078

           Days
0        Sunday
1        Monday
2       Tuesday
3     Wednesday
4      Thursday
...         ...
1537     Sunday
1538     Monday
1539    Tuesday
1540  Wednesday
1541   Thursday

[1542 rows x 12 columns]

In [6]:
# create 7 datasets for each day of the week
data_sunday = raw[raw["Days"] == "Sunday"]
data_monday = raw[raw["Days"] == "Monday"]
data_tuesday = raw[raw["Days"] == "Tuesday"]
data_wednesday = raw[raw["Days"] == "Wednesday"]
data_thursday = raw[raw["Days"] == "Thursday"]
data_friday = raw[raw["Days"] == "Friday"]
data_saturday = raw[raw["Days"] == "Saturday"]


length_of_days_data = len(data_sunday) + len(data_monday) +len(data_tuesday) + len(data_wednesday) + len(data_thursday) + len(data_friday) + len(data_saturday)


# intergrity check that all data has been transfered in the correct numbers
print(len(raw))
print(length_of_days_data)

# the weekend  should have no entries, sunday has a little
print("Sunday" + " "  +str(len(data_sunday)))
print("Monday" + " " + str(len(data_monday)))
print("Tuesday" + " " +str(len(data_tuesday)))
print("Wednesday" + " " + str(len(data_wednesday)))
print("Thursday" + " " + str(len(data_thursday)))
print("Friday" + " " + str(len(data_friday)))
print("Saturday" + " " + str(len(data_saturday)))

1542
1542
Sunday 307
Monday 308
Tuesday 308
Wednesday 310
Thursday 308
Friday 1
Saturday 0

In [7]:
print(data_sunday)

                           Time     Open     High      Low    Close  Volume  \
0     2018-06-03 21:00:00+00:00  1.16591  1.17446  1.16591  1.16986   54201
5     2018-06-10 21:00:00+00:00  1.17752  1.18204  1.17710  1.17845   43072
10    2018-06-17 21:00:00+00:00  1.15884  1.16246  1.15654  1.16232   43908
15    2018-06-24 21:00:00+00:00  1.16647  1.17134  1.16284  1.17037   65830
20    2018-07-01 21:00:00+00:00  1.16803  1.16918  1.15914  1.16392   56859
...                         ...      ...      ...      ...      ...     ...
1517  2024-04-07 21:00:00+00:00  1.08383  1.08621  1.08209  1.08592   55742
1522  2024-04-14 21:00:00+00:00  1.06372  1.06653  1.06203  1.06248   78711
1527  2024-04-21 21:00:00+00:00  1.06535  1.06708  1.06240  1.06538   55822
1532  2024-04-28 21:00:00+00:00  1.06938  1.07338  1.06902  1.07200   81579
1537  2024-05-05 21:00:00+00:00  1.07642  1.07909  1.07552  1.07702   43391

      Complete  open_to_high  open_to_low  open_to_close  high_to_low    Days
0         True       0.00855      0.00000        0.00395      0.00855  Sunday
5         True       0.00452      0.00042        0.00093      0.00452  Sunday
10        True       0.00362      0.00230        0.00348      0.00362  Sunday
15        True       0.00487      0.00363        0.00390      0.00487  Sunday
20        True       0.00115      0.00889       -0.00411      0.00115  Sunday
...        ...           ...          ...            ...          ...     ...
1517      True       0.00238      0.00174        0.00209      0.00238  Sunday
1522      True       0.00281      0.00169       -0.00124      0.00281  Sunday
1527      True       0.00173      0.00295        0.00003      0.00173  Sunday
1532      True       0.00400      0.00036        0.00262      0.00400  Sunday
1537      True       0.00267      0.00090        0.00060      0.00267  Sunday

[307 rows x 12 columns]

In [8]:
# calculate the mean for each of the distances on the new columns created for each day

mean_o_h = raw["open_to_high"].mean()
mean_o_l = raw["open_to_low"].mean()
mean_o_c = raw["open_to_close"].mean()
mean_h_l = raw["high_to_low"].mean()

print("mean open to close: " + str(mean_o_h))
print("mean open to low: " + str(mean_o_l))
print("mean open to close: " + str(mean_o_c))
print("mean high to low: " + str(mean_h_l))

# open_to close mean is giving a strange reading. split the data into positive(=>0) and negitive(<0) values

mean open to close: 0.003814974059662777
mean open to low: 0.0037622892347600485
mean open to close: -5.477302204928375e-05
mean high to low: 0.003814974059662777

In [9]:
# mean values given from the split will be used depending on buy or sell action IF the means are vastly differing

mean_o_c_pos = o_c_pos["open_to_close"].mean()
mean_o_c_neg = o_c_neg["open_to_close"].mean()

print(mean_o_c_pos)
print(mean_o_c_neg)

# the mean values are actually close to each other

0.0036743059125964035
-0.003837118644067794

In [10]:
# all data mean values

all_means = pd.DataFrame((mean_o_c, mean_o_l, mean_o_c_pos, mean_o_c_neg, mean_h_l))
all_means["distances"] = ("open to close", "open to low", "open to close positive", "open to close negative", "high to low")
all_means.set_index("distances", inplace = True)

print(all_means.index)

print("Mean Values from the population distances")
print(all_means)

Index(['open to close', 'open to low', 'open to close positive',
       'open to close negative', 'high to low'],
      dtype='object', name='distances')
Mean Values from the population distances
                               0
distances
open to close          -0.000055
open to low             0.003762
open to close positive  0.003674
open to close negative -0.003837
high to low             0.003815

In [11]:
# save this dataframe to a csv file for later refence when applying stop loss and take profit level

all_means.to_csv("Population_mean_values.csv")

In [12]:
# visualise the data_<day_name> datasets with a boxplot to look at the distribution and any outliers

In [13]:
print(data_sunday)

                           Time     Open     High      Low    Close  Volume  \
0     2018-06-03 21:00:00+00:00  1.16591  1.17446  1.16591  1.16986   54201
5     2018-06-10 21:00:00+00:00  1.17752  1.18204  1.17710  1.17845   43072
10    2018-06-17 21:00:00+00:00  1.15884  1.16246  1.15654  1.16232   43908
15    2018-06-24 21:00:00+00:00  1.16647  1.17134  1.16284  1.17037   65830
20    2018-07-01 21:00:00+00:00  1.16803  1.16918  1.15914  1.16392   56859
...                         ...      ...      ...      ...      ...     ...
1517  2024-04-07 21:00:00+00:00  1.08383  1.08621  1.08209  1.08592   55742
1522  2024-04-14 21:00:00+00:00  1.06372  1.06653  1.06203  1.06248   78711
1527  2024-04-21 21:00:00+00:00  1.06535  1.06708  1.06240  1.06538   55822
1532  2024-04-28 21:00:00+00:00  1.06938  1.07338  1.06902  1.07200   81579
1537  2024-05-05 21:00:00+00:00  1.07642  1.07909  1.07552  1.07702   43391

      Complete  open_to_high  open_to_low  open_to_close  high_to_low    Days
0         True       0.00855      0.00000        0.00395      0.00855  Sunday
5         True       0.00452      0.00042        0.00093      0.00452  Sunday
10        True       0.00362      0.00230        0.00348      0.00362  Sunday
15        True       0.00487      0.00363        0.00390      0.00487  Sunday
20        True       0.00115      0.00889       -0.00411      0.00115  Sunday
...        ...           ...          ...            ...          ...     ...
1517      True       0.00238      0.00174        0.00209      0.00238  Sunday
1522      True       0.00281      0.00169       -0.00124      0.00281  Sunday
1527      True       0.00173      0.00295        0.00003      0.00173  Sunday
1532      True       0.00400      0.00036        0.00262      0.00400  Sunday
1537      True       0.00267      0.00090        0.00060      0.00267  Sunday

[307 rows x 12 columns]

In [20]:
# give a table of monday to friday and look at the data to find possible stop loss and take profit levels

def get_means(x):

    print(type(x))

    mean_o_h = x["open_to_high"].mean()
    mean_o_l = x["open_to_low"].mean()
    

    # all data mean values

    all_means = pd.DataFrame((mean_o_h, mean_o_l))
    all_means["distances"] = ("open to high", "open to low")
    all_means.set_index("distances", inplace = True)


    print("Mean Values from the population distances")
    

    return all_means



my_days = [data_sunday, data_monday, data_tuesday, data_wednesday, data_thursday, data_friday, data_saturday]
my_daily_means = []


monday_means = get_means(data_monday)
tuesday_means = get_means(data_tuesday)
wednesday_means = get_means(data_wednesday)
thursday_means = get_means(data_thursday)
friday_means = get_means(data_friday)
saturday_means = get_means(data_saturday)
sunday_means = get_means(data_sunday)
    
    
print(monday_means)

<class 'pandas.core.frame.DataFrame'>
Mean Values from the population distances
<class 'pandas.core.frame.DataFrame'>
Mean Values from the population distances
<class 'pandas.core.frame.DataFrame'>
Mean Values from the population distances
<class 'pandas.core.frame.DataFrame'>
Mean Values from the population distances
<class 'pandas.core.frame.DataFrame'>
Mean Values from the population distances
<class 'pandas.core.frame.DataFrame'>
Mean Values from the population distances
<class 'pandas.core.frame.DataFrame'>
Mean Values from the population distances
                     0
distances
open to high  0.003757
open to low   0.003633

In [21]:

# monday mean values added to daily_means dataframe
daily_means= pd.DataFrame()

daily_means['Monday'] = pd.DataFrame(monday_means)
daily_means['Tuesday'] = tuesday_means
daily_means['Wednesday'] = wednesday_means
daily_means['Thursday'] = thursday_means
daily_means['Friday'] = friday_means
daily_means['Saturday'] = saturday_means
daily_means['Sunday'] = sunday_means


print(daily_means)

                Monday   Tuesday  Wednesday  Thursday  Friday  Saturday  \
distances
open to high  0.003757  0.003959   0.004187  0.003680     0.0       NaN
open to low   0.003633  0.003802   0.004176  0.004038     0.0       NaN

               Sunday
distances
open to high  0.00350
open to low   0.00317

In [ ]:
# What are the insights/answers that I can take away from this analysis?

In [22]:
daily_means.to_csv("daily_means.csv")